{% extends "layout.html" %}
{% block body %}
<div class=container>
  <div class=main>
    <h1>Summary Reports</h1>
    {% if summaries %}
      <table>
        {% for summary in summaries %}
            <tr>
               <td>{{ summary['description'] }}</td>
               <td><a href="{{summary['zip']}}">Artifacts</a></td>
               <td><a href="{{summary['report']}}">HTML Report</a></td>
               <td><a href="{{summary['overall']}}">Overall</a></td>
               <td><a href="{{summary['old']}}">Old</a></td>
               <td><a href="{{summary['new']}}">New</a></td>
            </tr>
          {% endfor %}
      </table>
      {% else %}
        No Summaries.
    {% endif %}
  </div>
  <div class=aside>
    <h3>Current Dataset</h3>
    {{currentDataset}}
    <hr>
    <h3>Test Parameters</h3>
    <form action="executeTest" method="post">
      <table>
        <tbody>
          {% for key, val in allParams.items() %}
          <tr>
            <td>
              {{key}}:
            </td>
            <td>
              <input type="text" name="{{key}}" value="{{val}}">
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td>
              Salt Data:
            </td>
            <td>
              <input type="text" name="SaltDatasetText" value="swag">
            </td>
          </tr>
          <tr>
            <td>
              <input class=btn type="submit" value="Submit">
            </td>
            <td>
              Salt Dataset
              <input type="checkbox" name="SaltDataset" checked="true">
            </td>
            <!--
            <td>
              Run Variations
              <input type="checkbox" name="RunVariations">
            </td>
            -->
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endblock %}
