{% extends "layout.html" %}
{% block body %}
<div class=container>
  <div class=main>
    <h1>Summary Reports</h1>
    {% if summaries %}
    <div class=log>
      <table>
        {% for summary in summaries %}
            <tr>
               <!--<td><p>{{ summary['description'] }}</p></td>-->
               <td><p>{{ summary['run_on'] }}</p></td>               
               <td><a href="{{summary['report']}}">{{ summary['description'] }}</a></td>
               <td><a href="{{summary['zip']}}">Artifacts</a></td>
               <td><a href="{{summary['overall']}}">Overall</a></td>
               <td><a href="{{summary['old']}}">Old</a></td>
               <td><a href="{{summary['new']}}">New</a></td>
            </tr>
          {% endfor %}
      </table>
    </div>
      {% else %}
        No Summaries.
    {% endif %}
  </div>
  <div class=aside>
    <h3>Current Dataset</h3>
    {{currentDataset}}
    <hr>
    <h3>Test Parameters</h3>
    <form action="executeTest" method="post">
      <table>
        <tbody>
          <style> .bg_for_old { background: lightblue; } </style>
          <style> .bg_for_new { background: lightgreen; } </style>
          <style> .config_odd { background: lightgray; } </style>
          <style> .config_even { background: whitesmoke; } </style>
          
          {% for key, val in allParams|dictsort %}
            {%if key != "time_run" and key.endswith("old")  %}
              <tr>
                <td class="bg_for_old" >
                  {{key}}:
                </td>
                <td class="bg_for_old">
                  <input type="text" name="{{key}}" value="{{val}}">
                </td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for key, val in allParams|dictsort %}
            {%if key != "time_run" and ( not key.endswith("old") and not key.endswith("new") ) %}
              <tr class="{{ loop.cycle('config_odd', 'config_even') }}">
                <td>
                  {{key}}:
                </td>
                <td >
                  <input type="text" name="{{key}}" value="{{val}}"  >
                </td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for key, val in allParams|dictsort %}
            {%if key != "time_run" and key.endswith("new") %}
              <tr class="bg_for_new">
                <td>
                  {{key}}:
                </td>
                <td >
                  <input type="text" name="{{key}}" value="{{val}}">
                </td>
              </tr>
            {% endif %}
          {% endfor %}

          {% for key, val in allParams|dictsort %}
            {%if key == "time_run" %}
              <tr>
                <td>
                </td>
                <td>
                  <input type="text" name="{{key}}" value="{{val}}" hidden="true">
                </td>
              </tr>
            
            {% endif %}
          {% endfor %}
          <tr>
            <td>
              Salt Data:
            </td>
            <td>
              <input type="text" name="SaltDatasetText" value="{{saltDataText}}">
            </td>
          </tr>
          <tr>
            <td>
              <input class=btn type="submit" value="Submit">
            </td>
            <td>
              Salt Dataset
              <input type="checkbox" name="SaltDataset" checked="true">
            </td>
            <!--
            <td>
              Run Variations
              <input type="checkbox" name="RunVariations">
            </td>
            -->
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endblock %}
