<!doctype html>
<html>
  <head>
    <title>API Tester</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class=header>
      <div class=container>
        <h1 class=header-heading>API Tester</h1>
      </div>
    </div>
    <div class=nav-bar>
      <div class=container>
        <ul class=nav>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('configData') }}">Configure Dataset</a></li>
          <li><a href="{{ url_for('upload_jmx') }}">Upload a new jmx</a></li>
          <li><a href="{{ url_for('log') }}">Follow Log</a></li>
        </ul>
      </div>
    </div>
    <div class=content>
      {% block body %}
      {% endblock %}
    </div>
  </body>
  <div class=footer>
    <div class=container>
      &copy; Copyright 2017
    </div>
  </div>
</html>
